#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
}
.footerBottom{
  background-color: #363131de;
  padding: 5px;
  text-align: center;
}
.footerBottom p{
  color: white;
}

canvas{
  height: 100vh;
}
